{
  "web": {
    "client_id": "YOUR_CLIENT_ID_GOES_HERE.apps.googleusercontent.com",
    "client_secret": "YOUR_CLIENT_SECRET_GOES_HERE",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://www.googleapis.com/oauth2/v3/token",
    "redirect_uris": []
  }
}
